@using HCM.Data.Common;
@{
    bool isAuthenticated = (Context.User != null) && Context.User.Identity.IsAuthenticated;
    bool isAdmin = this.User.IsInRole("Administrator");
    bool isEmployee = this.User.IsInRole("Employee");
    bool isManager = this.User.IsInRole("Manager");
    string userName = Context.User.Identity.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/assets/img//logos/HCM_Logo.ico">
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link id="pagestyle" href="~/assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
    <!-- Data tables CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/b-1.7.1/fc-3.3.3/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.css" />
    <!-- Toastr CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
          rel="stylesheet" />
    <!-- Site CSS-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="g-sidenav-show  bg-gray-100">
    <!-- Aside Navbar -->
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
           id="sidenav-main">
        <!-- Navbar items -->
        <ul class="navbar-nav">
            <!-- Account items -->
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
            </li>
            @if (isAuthenticated == false)
            {
                <li class="nav-item">
                    <a class="nav-link me-2" asp-area="" asp-controller="Home" asp-action="Login">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="fas fa-sign-in-alt opacity-6 text-dark me-1"></i>
                        </div>
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-2" asp-area="" asp-controller="Home" asp-action="Register">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="fas fa-user-plus opacity-6 text-dark me-1"></i>
                        </div>
                        Register
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link me-2" asp-area="" asp-controller="Profile" asp-action="Index">
                        <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="far fa-user opacity-6 text-dark me-1"></i>
                        </div>
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <form class="form text-left"
                          asp-area=""
                          asp-controller="Home"
                          asp-action="Logout"
                          method="post">
                        <a class="nav-link me-2" onclick="this.parentNode.submit()">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-sign-in-alt opacity-6 text-dark me-1"></i>
                            </div>
                            Logout
                        </a>
                    </form>
                </li>

                if (isAdmin)
                {
                    <hr class="mt-1 mb-1" />
                    <!-- Manage User pages -->
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">User pages</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-2" asp-area=@GlobalConstants.AdministratorRoleName asp-controller="ManageUser" asp-action="Index">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-users-cog opacity-6 text-dark me-1"></i>
                            </div>
                            Manage Users
                        </a>
                    </li>
                }
                if (isManager)
                {
                    <hr class="mt-1 mb-1" />
                    <!-- Manage Emlpoyee pages -->
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Employee pages</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-2" asp-area=@GlobalConstants.ManagerRoleName asp-controller="ApproveLeave" asp-action="Index">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-umbrella-beach opacity-6 text-dark me-1"></i>
                            </div>
                            Leave requests
                        </a>
                    </li>
                }

                <hr class="mt-1 mb-1" />
                <!-- Data pages -->
                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Data pages</h6>
                </li>

                if (isAdmin)
                {
                    <partial name="_AdministratorMenuPartial" />
                }
                if (isEmployee)
                {
                    <li class="nav-item">
                        <a class="nav-link me-2" asp-area=@GlobalConstants.EmployeeRoleName asp-controller="RequestedLeave" asp-action="Index">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-umbrella-beach opacity-6 text-dark me-1"></i>
                            </div>
                            Requested Leaves
                        </a>
                    </li>
                }
                if (isManager)
                {
                    <li class="nav-item">
                        <a class="nav-link me-2" asp-area=@GlobalConstants.ManagerRoleName asp-controller="Project" asp-action="Index">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-flask opacity-6 text-dark me-1"></i>
                            </div>
                            Projects
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link me-2" asp-area=@GlobalConstants.ManagerRoleName asp-controller="ProjectStatus" asp-action="Index">
                            <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="fas fa-project-diagram opacity-6 text-dark me-1"></i>
                            </div>
                            Project Statuses
                        </a>
                    </li>
                }
            }
        </ul>

        <!-- Nav Bar footer -->
        <div class="sidenav-footer mx-3">
            <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
                <div class="full-background" style="background-image: url('/assets/img/curved-images/white-curved.jpeg')"></div>
                <div class="card-body text-start p-3 w-100">
                    <div class="d-flex align-items-center justify-content-between">
                        <h6 class="text-white up mb-0">
                            Need help?
                        </h6>
                        <i class="fab fa-github-square opacity-6 text-dark me-1" style="font-size: xxx-large"></i>
                    </div>

                    <div class="docs-info">

                        <p class="text-xs font-weight-bold">
                            Please check our GitHub
                        </p>
                        <a href="https://github.com/david-asenoff/Immedis_internship_2021_hcm_David_Asenov" target="_blank" class="btn btn-white btn-sm w-100 mb-0">Documentation</a>
                    </div>


                </div>
            </div>
        </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ps ps--active-y">
        <div class="container-fluid py-4">
            @RenderBody()
        </div>
        <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
        <div class="full-background bg-cover" style="background-image: url('/assets/img/curved-images/curved8.jpg')">
            <footer class="footer fixed-bottom">
                <div class="container-fluid">
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-end">
                            <li class="nav-item">
                                <!-- Logo -->
                                <img src="~/assets/img/logos/HCM_Logo.ico" class="navbar-brand-img" alt="main_logo" width="40">
                                <span>@GlobalConstants.SystemName<sup> © 2021</sup> </span>
                            </li>
                            <li class="nav-item">
                                <a href="https://immedis.com/" class="nav-link text-muted" target="_blank">Immedis</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.taxback.com/en/" class="nav-link text-muted" target="_blank">Taxback</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.clunetech.com/#home" class="nav-link text-muted" target="_blank">CluneTech</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-muted" target="_blank">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-muted" target="_blank">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link pe-0 text-muted" target="_blank">Terms of service</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </footer>
        </div>
        <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    </main>
    <!--   Core JS Files   -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script src="~/js/site.js"></script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
    <!-- Data tables JS-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/b-1.7.1/fc-3.3.3/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>
    <!-- Toastr JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/moment.js"></script>
    <!-- MDB -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    @if (TempData["SuccessMessage"] != null)
    {
        <script type="text/javascript">toastr.success("@(TempData["SuccessMessage"] as string)");</script>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <script type="text/javascript">toastr.error("@(TempData["ErrorMessage"] as string)");</script>
    }
    @if (TempData["LoadingSuccessMessage"] != null)
    {
        <script type="text/javascript">toastr.info("@(TempData["LoadingSuccessMessage"] as string)");</script>
    }
    @if (TempData["LoadingErrorMessage"] != null)
    {
        <script type="text/javascript">toastr.error("@(TempData["LoadingErrorMessage"] as string)");</script>
    }

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
