@using HCM.Web.ViewModels.EmployeeTrainings
@using HCM.Data.Common;
@model EmployeeTrainingsViewModel
@{
    ViewData["Title"] = "Add participants to Training";
}




<!-- Training details -->
<partial name="~/Areas/Manager/Views/Shared/_TrainingInformationPartial.cshtml" for="Training" />

<!-- Participants -->
<h4>@ViewData["Title"]</h4>
<div class="table">
    <table id="myTable" class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Date of Birth</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participant in Model.Employees)
            {
                <tr>
                    <td>
                        @participant.FullName
                    </td>
                    <td>@participant.DateOfBirth</td>
                    <td>@participant.PhoneNumber</td>
                    <td>@participant.Email</td>
                    <td>
                        @if (!Model.AllParticipants.Select(x => x.UserId).Contains(participant.UserId))
                        {
                            <!-- Button Add -->
                            <form class="form text-left"
                                  asp-area=@GlobalConstants.ManagerRoleName
                                  asp-controller="EmployeeTrainings"
                                  asp-action="Add"
                                  asp-route-trainingId="@Model.Training.Id"
                                  asp-route-employeeId="@participant.UserId"
                                  method="post">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-user-plus opacity-6 text-dark me-1 text-gradient"></i>
                                    Add
                                </button>
                            </form>
                        }
                        else
                        {
                            <!-- Button Delete -->
                            <form class="form text-left"
                                  asp-area=@GlobalConstants.ManagerRoleName
                                  asp-controller="EmployeeTrainings"
                                  asp-action="Delete"
                                  asp-route-trainingId="@Model.Training.Id"
                                  asp-route-employeeId="@participant.UserId"
                                  method="post">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash-alt opacity-6 text-dark me-1 text-red"></i>
                                    Delete
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/trainingTable.js"></script>
}
