@using HCM.Web.ViewModels.EmployeeProjects
@using HCM.Data.Common;
@model EmployeeProjectsViewModel
@{
    ViewData["Title"] = "Edit Project";
    var companies = Model.Project.Companies.Select(x => new SelectListItem(x.Name, x.Id));
}


<!-- Project Edit-->
<partial name="~/Areas/Manager/Views/Shared/_ProjectInformationPartial.cshtml" for="@Model.Project"/>

<!-- Participants -->
<h4>@ViewData["Title"]</h4>
<div class="table">
    <table id="myTable" class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Date of Birth</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var participant in Model.Employees)
            {
                <tr>
                    <td>
                        @participant.FullName
                    </td>
                    <td>@participant.DateOfBirth</td>
                    <td>@participant.PhoneNumber</td>
                    <td>@participant.Email</td>
                    <td>
                        @if (!Model.AllParticipants.Select(x => x.UserId).Contains(participant.UserId))
                        {
                            <!-- Button Add -->
                            <form class="form text-left"
                                  asp-area=@GlobalConstants.ManagerRoleName
                                  asp-controller="Project"
                                  asp-action="AddEmployee"
                                  asp-route-projectId="@Model.Project.Id"
                                  asp-route-employeeId="@participant.UserId"
                                  method="post">
                                <button type="submit" class="btn btn-success">
                                    <i class="fas fa-user-plus opacity-6 text-dark me-1 text-gradient"></i>
                                    Add
                                </button>
                            </form>
                        }
                        else
                        {
                            <!-- Button Add -->
                            <form class="form text-left"
                                  asp-area=@GlobalConstants.ManagerRoleName
                                  asp-controller="Project"
                                  asp-action="DeleteEmployee"
                                  asp-route-projectId="@Model.Project.Id"
                                  asp-route-employeeId="@participant.UserId"
                                  method="post">
                                <button type="submit" class="btn btn-danger">
                                    <i class="fas fa-trash-alt opacity-6 text-dark me-1 text-red"></i>
                                    Delete
                                </button>
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/evaluationScoreTable.js"></script>
} 