@using HCM.Web.ViewModels.Summary;
@model ICollection<EmployeeContractSummaryViewModel>
@{
    ViewData["Title"] = "Dashboard";
}

<!-- Start Content -->
@foreach (var item in Model)
{
    <h4>@item.CompanyName</h4>
    <div style="display: flex; justify-content: space-between;">


        <div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Paid leaves used</b></h4>
                <p>@item.PaidLeavesUsed.Sum()</p>
            </div>
        </div>

        <div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Paid leaves allowed</b></h4>
                <p>@item.PaidLeavesAllowed</p>
            </div>
        </div>

        <div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Gross Salary</b></h4>
                <p>@item.GrossSalary @item.SalaryAbbreviation</p>
            </div>
        </div>

        <div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Net Salary</b></h4>
                <p>@item.NetSalary @item.SalaryAbbreviation</p>
            </div>
        </div>
    </div>
}
<!-- End  Start Content -->

<style>
    .infocard {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 10%;
    }

        .infocard:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    div.infocard > div.container {
        padding: 2px 16px;
    }
</style>