@using HCM.Web.ViewModels.Summary;
@model ICollection<ManagerCompanySummaryViewModel>
@{
    ViewData["Title"] = "Dashboard";
}

<!-- Start Content -->
@foreach (var item in Model)
{
    <h4>@item.CompanyName</h4>
    <div style="display: flex; justify-content: space-between;">

        <div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Effective contracts</b></h4>
                <p>@item.EffectiveContractsCount</p>
            </div>
        </div>

        <div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Concluded contracts</b></h4>
                <p>@item.ConcludedContractsCount</p>
            </div>
        </div>

        @*<div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Average salary</b></h4>
                <p>@item.AverageSalary</p>
            </div>
        </div>*@
        @if (item.TopProjectName == null)
        {
            <div class="infocard">
                <i class="fas fa-info-circle"></i>
                <div class="container">
                    <h4><b>Top project name</b></h4>
                    <p>"No projects yet"</p>
                </div>
            </div>
        }
        else
        {
            <div class="infocard">
                <i class="fas fa-info-circle"></i>
                <div class="container">
                    <h4><b>Top project name</b></h4>
                    <p>@item.TopProjectName</p>
                </div>
            </div>
        }

        <div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Top project final budget</b></h4>
                <p>@item.TopProjectFinalBudget</p>
            </div>
        </div>

        <div class="infocard">
            <i class="fas fa-info-circle"></i>
            <div class="container">
                <h4><b>Top project employees count</b></h4>
                <p>@item.TopProjectEmlpoyeesCount</p>
            </div>
        </div>
    </div>
}
<!-- End  Start Content -->

<style>
    .infocard {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 10%;
    }

        .infocard:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    div.infocard > div.container {
        padding: 2px 16px;
    }
</style>