@using HCM.Web.ViewModels.Company
@using HCM.Data.Common;
@model CompanyAddViewModel
@{
    ViewData["Title"] = "Add Company";
    //Layout = @"~\..\Views\Shared\_Layout.cshtml";
}


<!-- Add-->
<form class="form text-left"
      asp-area="Administrator"
      asp-controller="Company"
      asp-action="Add"
      method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="modal-body">
        <div class="mb-3">
            <label class="text mb-0 required" asp-for="@Model.Name"></label>
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
            <input asp-for="@Model.Name" class="form-control" placeholder="Immedis" />
        </div>
        <div class="mb-3">
            <label class="text mb-0 required" asp-for="@Model.Email"></label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
            <input asp-for="@Model.Email" class="form-control" placeholder="info@immedis.com" />
        </div>
        <div class="mb-3">
            <label class="text mb-0 required" asp-for="@Model.PhoneNumber"></label>
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            <input asp-for="@Model.PhoneNumber" class="form-control" placeholder="+3598987654321" />
        </div>
        <div class="mb-3">
            <label asp-for="CompanyLogo"></label>
            <input asp-for="CompanyLogo" class="form-control" />
            <span asp-validation-for="CompanyLogo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="text mb-0 required" asp-for="@Model.AboutUs"></label>
            <span asp-validation-for="@Model.AboutUs" class="text-danger"></span>
            <textarea asp-for="@Model.AboutUs" class="form-control"
                      placeholder="The world's leading cloud-based platform, underpinned with deep global payroll and tax expertise."></textarea>
        </div>
    </div>
    <div>
        <a type="button" class="btn btn-primary"
           asp-area="Administrator"
           asp-controller="Company"
           asp-action="Index">
            <i class="far fa-window-close"></i>
            Close
        </a>
        <button type="submit" class="btn btn-dark">
            <i class="fas fa-plus"></i>
            Add
        </button>
    </div>
</form>
@section Scripts{
    <script src="~/js/companyTable.js"></script>
} 