@using HCM.Web.ViewModels.EvaluationScore
@using HCM.Data.Common;
@model EvaluationScoreEditViewModel
@{
    ViewData["Title"] = "Edit Evaluation Score";
}


<!-- Edit-->
            <form class="form text-left"
                  asp-area=@GlobalConstants.AdministratorRoleName
                  asp-controller="EvaluationScore"
                  asp-action="Edit"
                  method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="text mb-0 required" asp-for="@Model.Id"></label>
                        <span asp-validation-for="@Model.Id" class="text-danger"></span>
                        <input asp-for="@Model.Id" class="form-control" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="text mb-0 required" asp-for="@Model.Rate"></label>
                        <span asp-validation-for="@Model.Rate" class="text-danger"></span>
                        <input asp-for="@Model.Rate" class="form-control" placeholder="Outstanding" />
                    </div>
                    <div class="mb-3">
                        <label class="text mb-0 required" asp-for="@Model.Description"></label>
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        <textarea asp-for="@Model.Description"  class="form-control" rows="3"
                               placeholder=" Outstanding Performance represents an extraordinary level of achievement and commitment in terms of quality and time , technical skills and knowledge, ingenuity, creativity and initiative. Employees at this performance level should have demonstrated exceptional job mastery in all major areas of responsibility. Employee achievement and contributions to the organization are of marked excellence."></textarea>
                    </div>
                </div>
                <div>
                    <a type="button" class="btn btn-primary"
                       asp-area=@GlobalConstants.AdministratorRoleName
                       asp-controller="EvaluationScore"
                       asp-action="Index">
                        <i class="far fa-window-close"></i>
                        Close
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        Save changes
                    </button>
                </div>
            </form>

@section Scripts{
    <script src="~/js/evaluationScoreTable.js"></script>
} 