@using HCM.Web.ViewModels.PaymentInterval
@using HCM.Data.Common;
@model PaymentIntervalEditViewModel
@{
    ViewData["Title"] = "Edit PaymentInterval";
}

<!-- Edit-->
            <form class="form text-left"
                  asp-area=@GlobalConstants.AdministratorRoleName
                  asp-controller="PaymentInterval"
                  asp-action="Edit"
                  method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="text mb-0 required" asp-for="@Model.Id"></label>
                        <span asp-validation-for="@Model.Id" class="text-danger"></span>
                        <input asp-for="@Model.Id" class="form-control" readonly />
                    </div>
                    <div class="mb-3">
                        <label class="text mb-0 required" asp-for="@Model.Type"></label>
                        <span asp-validation-for="@Model.Type" class="text-danger"></span>
                        <textarea asp-for="@Model.Type" class="form-control" placeholder="Man" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary"
                       asp-area=@GlobalConstants.AdministratorRoleName
                       asp-controller="PaymentInterval"
                       asp-action="Index">
                        <i class="far fa-window-close"></i>
                        Close
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="far fa-save"></i>
                        Save changes
                    </button>
                </div>
            </form>

@section Scripts{
    <script src="~/js/paymentIntervalTable.js"></script>
} 